body {
  background-image: url("assets/cavebg.jpg");
  background-size: cover;
  background-color: #332e2b;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes throb {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
.gamelogo {
  animation: throb 5s ease 0s infinite normal forwards;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.unifrakturcook-bold {
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

button.upg {
  font-family: "UnifrakturCook", cursive;
  font-size: 2em;
  color: goldenrod;
  background-color: #33271f;
  border-color: goldenrod;
  margin: 0.5%;
  width: 15em;
}
